@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,400&family=Quicksand&family=Roboto&display=swap");
body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  background: linear-gradient(114.23deg, #4d4459 14.64%, rgba(0, 0, 0, 0.7) 47.07%, #475F66 80.65%);
}

.container {
  max-width: 1300px;
  margin: auto;
}

.header {
  height: 100px;
  box-sizing: border-box;
  background: rgba(92, 69, 122, 0.6352941176);
  margin-bottom: 30px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
  color: #FFFFFF;
}
.header__search {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}
.header__links {
  font-size: 18px;
}
.header__link {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.header__link:hover {
  color: #d2b2ff;
}

.content {
  position: relative;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 270px));
  gap: 30px;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.movie-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
}
.movie-block:hover {
  scale: 1.1;
}
.movie-block__img {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  position: relative;
}
.movie-block__img-el {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-block__img--darkened {
  background-color: #000000;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  transition: 0.2s;
}
.movie-block__img--darkened:hover {
  opacity: 0;
}
.movie-block__text {
  width: 100%;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}
.movie-block__text-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.movie-block__text-year {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #AFAFAF;
  margin-bottom: 7px;
}
.movie-block__text-rating {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #ffc800;
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6078431373);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-block__text-rating_color-top {
  border: 4px solid rgb(0, 255, 0);
}

.movie-block__text-rating_color-green {
  border: 3px solid rgb(0, 185, 0);
}

.movie-block__text-rating_color-yellow {
  border: 3px solid yellow;
}

.movie-block__text-rating_color-red {
  border: 3px solid red;
}

.false {
  display: none;
}

.modal-block {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 5;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.modal-block--show {
  display: flex;
}

.movie-modal {
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-height: 500px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  background: linear-gradient(315deg, #4d4459 14.64%, rgb(32, 32, 32) 47.07%, #475F66 80.65%);
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
.movie-modal__img {
  width: 150px;
  margin-bottom: 10px;
}
.movie-modal__img-el {
  width: 100%;
  height: 100%;
}
.movie-modal__text {
  width: 100%;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}
.movie-modal__text-top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.movie-modal__text-middle {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 23px;
  margin-bottom: 20px;
}
.movie-modal__text-title {
  margin-right: 30px;
}
.movie-modal__text-year {
  margin-right: 30px;
}
.movie-modal__text-rating {
  margin-right: 30px;
}
.movie-modal__text-age-limit {
  margin-right: 30px;
}
.movie-modal__text-genre {
  margin-bottom: 10px;
}
.movie-modal__text-description {
  font-size: 18px;
}

.modal-block__text-rating_color-top {
  color: rgb(0, 255, 0);
}

.modal-block__text-rating_color-green {
  color: rgb(0, 185, 0);
}

.modal-block__text-rating_color-yellow {
  color: yellow;
}

.modal-block__text-rating_color-red {
  color: red;
}

.stop-scrollong {
  height: 100%;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}
.pagination__el {
  margin-right: 15px;
}/*# sourceMappingURL=main.css.map */