.header {
    height: 100px;
    box-sizing: border-box;

    background: #5c457aa2;


    margin-bottom: 30px;
    padding: 0 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        &-el {
            text-decoration: none;
            font-weight: 700;
            font-size: 30px;
            line-height: 20px;
            color: #FFFFFF;

            &:hover {
                color: #a86bff;
            }
        }
    }

    &__search {
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
    }

    &__links {
        font-size: 18px;


    }

    &__link {
        text-decoration: none;
        color: #FFFFFF;
        cursor: pointer;

        &-active {
            color: #a86bff;
        }

        &:hover {
            color: #d2b2ff;
        }
    }

}