@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,400&family=Quicksand&family=Roboto&display=swap');

body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;

    // background: linear-gradient(90deg, rgba(46, 0, 69, 0.4) 10%, rgba(0, 5, 96, 0.4) 50%, rgba(0, 56, 84, 0.4) 90%);

    background: linear-gradient(114.23deg, #4d4459 14.64%, rgba(0, 0, 0, 0.7) 47.07%, #475F66 80.65%);

}

.container {
    max-width: 1300px;
    margin: auto;
}