.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;

    &__el {
        margin-right: 15px;
    }

}